@model Brand
@{
    ViewData["Title"] = @Model.BrandName;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="hero">
                @*<div class="background-image" style="background-image: url('@Model.HeroImageUrl');"></div>*@
                <div class="background-image">
                    <picture>
                        <source class="hero-image" media="(min-width : 1024px)" srcset=@Model.HeroImageUrl />        @*desktop*@
                        <source class="hero-image" media="(max-width : 767px)" srcset=@Model.HeroImageMobileUrl />  @*mobile*@
                        <img class="hero-image" src=@Model.HeroImageTabletUrl />                                    @*tablet*@
                    </picture>
                </div>
                <div class="hero-content">
                    <h1>@Model.TagLineHeading</h1>
                    <h3>@Model.TagLineSubHeading</h3> 
                </div>
                <div class="hero-ctas">
                     <a href="@Model.Cta1ButtonUrl" class="btn cta-btn">@Model.CtaButton1Text <i class="bi bi-arrow-right text-end"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <p>
                <img src="@Model.CanImageUrl" class="brand-image cans-image load-hidden" />
            </p>
        </div>
    </div>

    <div class="container-fluid">
             <div class="row">
                 <div class="col-md-4 info info-heading-column">
                    <h2>@Model.Cta2Heading</h2>
                 </div>
             </div>
        <div class="row info-row">
            <div class="col-md-6 info info-body-column">
                <p>@Html.Raw(ViewBag.HtmlStr)</p>
                <div class="info-button">
                    <a href="@Model.Cta2ButtonUrl" class="btn cta-btn">@Model.CtaButton2Text <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 info info-image-column">
                <p>
                    <img src="@Model.PackImageUrl" class="brand-image pack-image"/>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    ScrollReveal().reveal('.cans-image');
    ScrollReveal().reveal('.info', {interval: 200});
</script>